*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 30px;
    color: #f8fafc;
    padding: 15px 30px;
    background-color: black;
}
nav a{
    color: aliceblue;
    text-decoration: none;

}
nav a:hover{
    color: blanchedalmond;
}
.todos-container{
    padding: 30px;
}
.todos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 20px;
    margin-top: 20px;
}
.todo-card{
    padding: 15px;
    border-radius: 8px;
    background-color: #f1f5f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1) ;
}
.todo-card h4{
    margin-bottom: 10px;
}
.done{
    color:green;
}
.pending{
    color: red;
    font-weight :bold;
}